<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ForestApp</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/bootstrap-switch.min.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/body.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/public.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/Control.MiniMap.css') }}"/>
		<link rel="stylesheet" href="{{ asset('css/L.Control.ZoomBox.css') }}"/>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>
						<i class="glyphicon glyphicon-tree-deciduous"></i>
						ForestApp
					</h1>
				</div>
			</div>

		</div>
	</body>
</html>
