<table id="expedientes" class="table table-hover table-grid">
  <thead>
    <tr>
      <th>ID</th>
      <th nowrap>Número interno</th>
      <th nowrap>Número expediente</th>
      <th>Titular</th>
      <th>Última Entrada</th>
      <th>Última Salida</th>
      <th>Técnico</th>
      <th class="icon">Activo</th>
    </tr>
  </thead>
  <tbody>
      {% for expediente in expedientes %}
      {% if expediente is defined %}{% endif %}
      <tr data-link="/expedientes/{{expediente.id}}">
        <td>{{ expediente.id }}</td>
        <td nowrap>{{ expediente.numeroInterno }}</td>
        <td nowrap>{{ expediente.numeroExpediente }}</td>
        <td>
          {% if expediente.titulares|first[0] is defined %}
              <abbr title="{{expediente.titulares|first[0].nombre}}" data-length="10">
                {{ expediente.titulares|first[0].nombre }}</abbr>
          {% endif %}
        </td>
        <td>
          {% if expediente.movimientos.last.fechaEntrada is defined %}
            {% if expediente.movimientos.last.fechaEntrada is not null %}
              {{ expediente.movimientos.last.fechaEntrada|date('d-m-Y') }}
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if expediente.movimientos.last.fechaSalida is defined %}
            {% if expediente.movimientos.last.fechaSalida is not null %}
                {{ expediente.movimientos.last.fechaSalida|date('d-m-Y') }}
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if expediente.tecnico.nombre is defined %}
           <abbr title="{{ expediente.tecnico.nombre }}" data-length="20">
             {{ expediente.tecnico.nombre }}
           </abbr>
           {% endif %}

        <td class="icon">
          {% if expediente.activo %}
            <span class="glyphicon glyphicon-ok"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove"></span>
          {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% if expedientes | length > 14 and expedientes.getItemNumberPerPage is defined %}
<div class="well well-sm clearfix">
  <div class="pagination-info pull-left">
    Mostrando <b>
      {{(expedientes.getItemNumberPerPage * expedientes.getCurrentPageNumber) - (expedientes.getItemNumberPerPage -1) }} -
      {{expedientes.getItemNumberPerPage * expedientes.getCurrentPageNumber }}</b>
    de
      <b> {{ expedientes.getTotalItemCount }} </b>
  </div>
    <ul class="pagination pull-right">
      {{ knp_pagination_render(expedientes) }}
    </ul>
</div>
{% endif %}
