{% extends 'base.html.twig' %}

{% block body %}
{{ include('flash/message.html.twig') }}
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Técnico</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Nombre:</dt>
          <dd>{{ tecnico.nombre }}</dd>
          <dt>DNI:</dt>
          <dd>{{ tecnico.dni }}</dd>
          <dt>CUIT:</dt>
          <dd>{{ tecnico.cuit }}</dd>
          <dt>Activo:</dt>
          <dd>
            {% if tecnico.activo %}
              <span class="glyphicon glyphicon-ok"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Expedientes</h4>
    {{ include('expedientes/show_list.html.twig', {'expedientes': expedientes}) }}
  </div>
</div>
{% endblock %}
