<table id="movimientos" class="table table-hover table-grid">
  <thead>
    <tr>
      <th>ID</th>
      <th nowrap="">Ficha</th>
      <th>Etapa</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th class="icon">E.Fiscal</th>
      <th class="icon">Auditar</th>
      <th class="icon">Validado</th>
    </tr>
  </thead>
  <tbody>
    {% for movimiento in movimientos %}
    <tr data-link="/expedientes/{{expediente.id}}/movimientos/{{movimiento.id}}">
      <td>{{movimiento.id}}</td>
      <td>{{movimiento.numeroFicha}}</td>
      <td>{{movimiento.etapa}}</td>
      <td>
        {% if movimiento.fechaEntrada %}
          {{movimiento.fechaEntrada|date('d-m-Y')}}
        {% endif %}
      </td>
      <td>
        {% if movimiento.fechaSalida %}
          {{movimiento.fechaSalida|date('d-m-Y')}}
        {% endif %}
      </td>
      <td class="icon">
        {% if movimiento.estabilidadFiscal %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
      <td class="icon">
        {% if movimiento.auditar %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
      <td class="icon">
        {% if movimiento.validador %}
          <span class="glyphicon glyphicon-ok"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
