{% extends 'print.html.twig' %}

{% block body %}
{{dump()}}
<section>
  <h2>Información General</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente: </strong>{{movimiento.expediente.numeroExpediente}}</p>
        <p><strong>Número Interno: </strong>{{movimiento.expediente.numeroInterno}}</p>
      </div>
      <div class="col-xs-6">
        <p><strong>Número de Ficha: </strong>{{movimiento.numeroFicha}}</p>
        <p><strong>ID Movimiento: </strong>{{movimiento.id}}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Zona: </strong>{% if movimiento.expediente.zona %}{{movimiento.expediente.zona.descripcion}}{% endif %}</p>
        <p><strong>Departamento: </strong>{% if movimiento.expediente.zonaDepartamento %}{{movimiento.expediente.zonaDepartamento.descripcion}}{% endif %}</p>
        <p><strong>Titular: </strong>
        {% for titular in movimiento.expediente.titulares[0]|e %}
            {{ titular.nombre }} -
        {% endfor %}</p>
      </div>
      <div class="col-xs-6">
        <p><strong>Técnico: </strong>{% if movimiento.expediente.tecnico %}{{movimiento.expediente.tecnico.nombre}}{% endif %}</p>
        <p><strong>Fecha: </strong>{% if movimiento.fechaSalida %}{{movimiento.fechaSalida|date('d-m-Y')}}{% endif %}</p>
        <p><strong>Etapa: </strong>{% if movimiento.expediente.plurianual %}{{movimiento.etapa}}{% endif %}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Inspección: </strong>{% if movimiento.inspector %}{{movimiento.inspector.descripcion}}{% endif %}</p>
        <p><strong>Reinspección: </strong>{% if movimiento.reinspector %}{{movimiento.reinspector.descripcion}}{% endif %}</p>
      </div>
      <div class="col-xs-6">
        <p><strong>Responsable Área SIG: </strong>{% if movimiento.responsable %}{{movimiento.responsable.nombre}}{% endif %}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Presentado</th>
              <th>Certificado</th>
              <th>Inspeccionado</th>
              <th>Registrado</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in actividades %}
              <tr>
                <td>{{actividad.tipoActividad.descripcion}}</td>
                <td>{{actividad.superficiePresentada}}</td>
                <td>{{actividad.superficieCertificada}}</td>
                <td>{{actividad.superficieInspeccionada}}</td>
                <td>{{actividad.superficieRegistrada}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Observaciones: </strong>{{movimiento.observacion}}</p>
      </div>
    </div>
  </div>
{% if movimiento.expediente.agrupado %}
  </section>
  <section>
{% endif %}
  <h2>Plantaciones</h2>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Actividad</th>
            {% if movimiento.expediente.agrupado %}
              <th>Titular</th>
            {% endif %}
            <th>Tipo</th>
            <th>Especie</th>
            <th>Registrado</th>
          </tr>
        </thead>
        <tbody>
          {% for actividad in actividades%}
          {{dump(actividad)}}
          sintesis por actividad, por productor por especie y por tipo de plantacion.
            {% for plantacion in actividad.plantaciones %}
            {% endfor %}
          {% endfor %}
          <% @plantaciones.each do |index,value| %>
            <tr>
              <td><%= Actividad.find(index[0]).tipo_actividad.descripcion  unless index[0].nil? %></td>
              <% if @movimiento.expediente.agrupado %>
                <td><%= Titular.find(index[1]).nombre unless index[1].nil? %></td>
              <% end %>
              <td><%= TipoPlantacion.find(index[2]).descripcion unless index[2].nil? %></td>
              <td><%= Especie.find(index[3]).nombre_cientifico unless index[3].nil? %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% if movimiento.expediente.agrupado %}
  <section>
    <h2>Detalle por Titular</h2>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-condensed table-compressed">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Titular</th>
              <th>Especie</th>
              <th>Tipo</th>
              <th>Pres</th>
              <th>Cert</th>
              <th>Insp</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in movimiento.actividades %}
            <% @movimiento.actividades.each do |actividad| %>
              {% for actividad_titular in actividad.actividadesTitulares %}
              <!-- Ahora aca tengo que actualizar el modelo de actividad y actividadTitulares -->
              <!-- dump(actividad_titular) -->
              <% actividad.actividades_titulares.each do |actividad_titular| %>
                <tr>
                  <td><%= actividad.tipo_actividad.descripcion %></td>
                  <td><%= actividad_titular.titular.nombre if actividad_titular.titular %></td>
                  <td><%= actividad_titular.especie.nombre_cientifico if actividad_titular.especie %></td>
                  <td><%= actividad_titular.tipo_plantacion.descripcion if actividad_titular.tipo_plantacion %></td>
                  <td><%= actividad_titular.superficie_presentada %></td>
                  <td><%= actividad_titular.superficie_certificada %></td>
                  <td><%= actividad_titular.superficie_inspeccionada %></td>
                  <td><%= actividad_titular.observaciones %></td>
                </tr>
              <% end %>
            <% end %>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}
