{% extends 'base.html.twig' %}

{% block body %}
	{{ include('flash/message.html.twig') }}
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Actividad</h3>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>ID Movimiento:</dt>
					<dd>
						{% if actividad.movimiento %}
							<a href="/expedientes/{{actividad.movimiento.expediente.id}}/movimientos/{{actividad.movimiento.id}}">{{actividad.movimiento.id}}</a>
						</dd>
					{% endif %}
					<dt>ID Actividad:</dt>
					<dd>{{actividad.id}}</dd>
					<dt>Tipo de Actividad:</dt>
					<dd>
						{% if actividad.tipoActividad %}
							{{actividad.tipoActividad.descripcion}}
						{% endif %}
					</dd>
					<dt>Sup. Presentada:</dt>
					<dd>
						{% if actividad.superficiePresentada %}
							{{actividad.superficiePresentada|number_format(2)}}
						{% else %}
							0.0
						{% endif %}
					</dd>
					<dt>Sup. Certificada:</dt>
					<dd>
						{% if actividad.superficieCertificada %}
							{{actividad.superficieCertificada|number_format(2)|round(1, 'ceil')}}
						{% else %}
							0.0
						{% endif %}
					</dd>
					<dt>Sup. Inspeccionada:</dt>
					<dd>
						{% if actividad.superficieInspeccionada %}
							{{actividad.superficieInspeccionada|number_format(2)}}
						{% else %}
							0.0
						{% endif %}
					</dd>
					<dt>Sup. Registrada:</dt>
					<dd>
						{% if actividad.getSupTotalSuma >= 0%}
							{{ actividad.getSupTotalSuma|number_format(2) }}
						{% else %}
							0.0
						{% endif %}
					</dd>
				</dl>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-md-9">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active" role="presentation">
					<a href="#plantaciones-tab" aria-controls="plantaciones-tab" role="tab" data-toggle="tab">Plantaciones</a>
				</li>
				{% if actividad.getActividadesTitulares()is not empty %}
				<li role="presentation">
					<a href="#titulares-tab" aria-controls="titulares-tab" role="tab" data-toggle="tab" aria-expanded="true">Detalle de Productores</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="tab-content">
			{{ include('actividades/show_plantacion.html.twig', { 'plantaciones': plantaciones }) }}
			{% if actividad.getActividadesTitulares()is not empty %}
				{{ include('actividades/show_titulares.html.twig') }}
			{% endif %}
		</div>
	</div>
{% endblock %}
