{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
  <div class="col-md-12">
    <h2>Nueva Actividad</h2>

    {{ form_start(form) }}
        <div class="row">
          <div class="col-md-5">
            {{ form_widget(form) }}
          </div>
        </div>
        <h3>Plantaciones</h3><hr>
        <div class="row">
          <div class="col-md-12">
            <table id="plantaciones" class="table">
              <thead>
                <tr>
                  <th>Plantación ID</th>
                  <th>Fecha</th>
                  <th>Número de Plantas</th>
                  <th>Superficie Registrada</th>
                  <th>Estado Aprobación</th>
                  <th>Observaciones</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for emailField in form.actividadesPlantaciones %}
                  <li>
                      {{ form_errors(emailField) }}
                      {{ form_widget(emailField) }}
                  </li>
              {% endfor %}

              </tbody>
            </table>
            <a id="add-plantacion" class="btn btn-primary btn-sm add_nested_fields" data-association="actividades_plantaciones" data-blueprint-id="actividades_plantaciones_fields_blueprint" data-target="#plantaciones" href="javascript:void(0)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Agregar Plantación
            </a>
            <button id="add-plantaciones" class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#plantaciones-modal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Agregar Lista de Plantaciones
            </button>
          </div>
        </div>
        <hr>
        <a id="cancel-actividad" class="btn btn-default" onClick="history.go(-1);return true;">Cancelar</a>
        <input id="save-actividad" class="btn btn-primary pull-right" type="submit" value="Guardar" />
    {{ form_end(form) }}

  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var count ={{ form.actividadesPlantaciones|length }};
        $(document).ready(function () {
            $('#add-plantacion').click(function (e) {
                e.preventDefault();
                ActividadPlantacionAdd();
            });
        });
    </script>

{% endblock %}
