<td>
	<div class="col-sm-12">
		{{ form_row(form.plantacion) }}
	</div>

</td>
<td>
		<div class="col-sm-12">
			{{ form_row(form.fecha) }}
		</div>
</td>
<td>
		<div class="col-sm-12">
			{{ form_row(form.numeroPlantas) }}
		</div>
	</td>
<td>
	<div class="col-sm-12">
			{{ form_row(form.superficieRegistrada) }}
	</div>
</td>
<td>
  	<div class="col-sm-12">
			{{ form_row(form.estadoAprobacion) }}
		</div>
</td>
<td>
		<div class="col-sm-12">
			{{ form_row(form.observaciones) }}
		</div>
</td>
<td>
	<a class="btn btn-danger btn-sm pull-right remove_nested_fields" data-association="actividades_plantaciones" href="javascript:void(0)">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</a>
</td>
