{% block tumaentan %}
	<td>
		<div class="col-sm-12">
			{{ form_row(form.plantacion) }}
      {{ form_errors(form.plantacion) }}
		</div>
	</td>
	<td>
			<div class="col-sm-12">
				{{ form_row(form.fecha) }}
				{{ form_errors(form.fecha) }}
			</div>
	</td>
	<td>
			<div class="col-sm-12">
				{{ form_row(form.numeroPlantas) }}
				{{ form_errors(form.numeroPlantas) }}
			</div>
		</td>
	<td width="200px">
			<div class="form-group">
				<label class="sr-only control-label col-sm-0 control-label" for="actividad_actividades_plantaciones_attributes_0_superficie_registrada">Superficie registrada</label>
				<div class="col-sm-12">
					<div class="input-group">
						{{ form_row(form.superficieRegistrada) }}
			      {{ form_errors(form.superficieRegistrada) }}
						<span class="input-group-btn">
							<button id="hectareas" class="btn btn-default hectareas" name="button" type="button">
								<span class="glyphicon glyphicon-circle-arrow-down"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</td>
	<td>
	  	<div class="col-sm-12">
				{{ form_row(form.estadoAprobacion) }}
	      {{ form_errors(form.estadoAprobacion) }}
			</div>
	</td>
	<td>
			<div class="col-sm-12">
				{{ form_row(form.observaciones) }}
	      {{ form_errors(form.observaciones) }}
			</div>
	</td>
	<td>
		<a id="remove-plantacion" class="btn btn-danger btn-sm pull-right remove-plantacion remove_nested_fields" data-association="actividades_plantaciones">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
	</td>
{% endblock %}
