<div id="titulares-tab" class="tab-pane" role="tabpanel">
  <table id="titulares" class="table table-hover table-grid">
    <thead>
      <tr>
        <th>Titular</th>
        <th>Especie</th>
        <th>Tipo de Plantación</th>
        <th>Presentado</th>
        <th>Certificado</th>
        <th>Inspeccionado</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for productor in actividad.getActividadesTitulares() %}
        <tr>
          <td>
            <a href="/titulares/{{productor.titular.id}}">{{productor.titular.nombre}}</a>
          </td>
          <td>{{productor.especie.codigoSp}}</td>
          <td>{{productor.tipoPlantacion.codigo}}</td>
          <td>{{productor.superficiePresentada}}</td>
          <td>{{productor.superficieCertificada}}</td>
          <td>{{productor.superficieInspeccionada}}</td>
          <td>{{productor.observaciones}}</td>
          <td><a id="nav-edit-productor" href="/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></a></span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
