<div id="plantaciones-tab" class="tab-pane active" role="tabpanel">
	<table id="plantaciones" class="table table-hover table-grid">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titular</th>
				<th>Especie</th>
				<th>Tipo</th>
				<th>Superficie Registrada</th>
				<th>Superficie</th>
				<th>Estado</th>
				<th>Observaciones</th>
				<th class="icon hidden-print">Mapa</th>
			</tr>
		</thead>
		<tbody>
			{% for p in plantaciones %}
					<tr data-link="/plantaciones/{{p.plantacion.plantacion.id}}">
						<td class="id" data-toggle="tooltip" data-toggle="tooltip" data-html="true" title="">
							{{p.plantacion.plantacion.id}}
						</td>
						<td>
							{{p.plantacion.plantacion.titular.nombre}}
						</td>
						<td>
							{{p.plantacion.plantacion.especie.first.nombreComun}}
						</td>
						<td>
							{{p.plantacion.plantacion.tipoPlantacion}}
						</td>
						<td>
							{{p.plantacion.superficieRegistrada}}
						</td>
						<td>
							{{p.area|number_format(1)}}
						</td>
						<td>
							{{p.plantacion.estadoAprobacion.descripcion}}
						</td>
						<td>
							<abbr title="{{p.plantacion.observaciones}}" data-length="20">{{p.plantacion.observaciones}}</abbr>
						</td>
						<td class="icon icon-lg hidden-print">
							<a href="/plantaciones/{{p.plantacion.plantacion.id}}/mapa" onclick="event.stopPropagation()" target="_blank">
								<span class="glyphicon glyphicon-globe"></span>
							</a>
						</td>
					</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
