  <div id="plantaciones-tab" class="tab-pane active" role="tabpanel">
    <table id="plantaciones" class="table table-hover table-grid">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titular</th>
          <th>Especie</th>
          <th>Tipo</th>
          <th>Superficie Registrada</th>
          <th>Superficie</th>
          <th>Estado</th>
          <th>Observaciones</th>
          <th class="icon hidden-print">Mapa</th>
        </tr>
      </thead>
      <tbody>
        {% for plantacion in plantaciones %}
          <tr data-link="/plantaciones/{{plantacion.id}}">
            <td>{{plantacion.id}}</td>
            <td><a href="/titular/{{plantacion.titular.id}}">{{plantacion.titular.nombre}}</a></td>
            <td>{{plantacion.especie.first.nombreCientifico}}</td>
            <td>{{plantacion.tipoPlantacion.descripcion}}</td>
            {% if (plantacion.actividad.first) %}
              <td>{{plantacion.actividad.first.superficieRegistrada}}</td>
            {% endif %}
            <td></td>
            {% if (plantacion.actividad.first) %}
              <td>{{plantacion.actividad.first.estadoAprobacion}}</td>
            {% endif %}
            <td>{{plantacion.comentarios}}</td>
            <td class="icon icon-lg hidden-print">
              <a href="/plantaciones/8/mapa" onclick="event.stopPropagation()" target="_blank">
                <span class="glyphicon glyphicon-globe"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
