{% extends 'base.html.twig' %}

{% block body %}
	{{ include('flash/message.html.twig') }}
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Buscador</h3>
				</div>
				<div class="panel-body">
					<form id="new_plantacion" class="form-horizontal" role="form" method="get" action="/plantaciones" accept-charset="UTF-8">
						<div class="form-group">
							<label class="control-label col-sm-3" for="plantacion_ids">IDs</label>
							<div class="col-sm-9">
								<textarea id="plantacion_ids" class="form-control" rows="10" name="plantacion[ids]">{% if param %}{% for item in param %}{% if loop.last %}{{item}}{% else %}{{(item ~ '\n')|raw}}{% endif %}{% endfor %}{% endif %}</textarea>
							</div>
						</div>
						<hr>
						<input id="search" class="btn btn-primary pull-right" type="submit" value="Buscar" name="commit" data-url="/plantaciones/">
						<input id="edit" class="btn btn-primary" type="submit" value="Editar" name="commit" data-url="/plantaciones/editar">
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<table id="plantaciones" class="table table-hover table-grid">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titular</th>
						<th>Especie</th>
						<th>Tipo</th>
						<th>Superficie</th>
						<th>Activo</th>
						<th class="icon">Mapa</th>
					</tr>
				</thead>
				<tbody>
					{% for p in plantaciones %}
						<tr data-link="/plantaciones/{{ p.plantacion.id }}">
							<td>{{ p.plantacion.id }}</td>
							<td>
								{% if p.plantacion.titular %}
									<a href="/titulares/{{ p.plantacion.titular.id }}">
										{{ p.plantacion.titular.nombre }}
									</a>
								{% else %}
								{% endif %}
							</td>
							<td>
								{% if p.plantacion.especie | length > 0 %}
									{{p.plantacion.especie.first.nombreCientifico}}
								{% endif %}
							</td>
							<td>
								{% if p.plantacion.tipoPlantacion %}{{ p.plantacion.tipoPlantacion.descripcion }}
								{% else %}
								{% endif %}
							</td>
							<td>{{p.area|round(1,'floor')|number_format(1)}}</td>
							<td class="icon">
								{% if p.plantacion.activo %}
									<span class="glyphicon glyphicon-ok"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove"></span>
								{% endif %}
							</td>
							<td class="icon icon-lg">
								<a href="/plantaciones/{{p.plantacion.id}}/mapa" onclick="event.stopPropagation()" target="_blank">
									<span class="glyphicon glyphicon-globe"></span>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if plantaciones | length > 14 %}
				<div class="well well-sm clearfix">
					<div class="pagination-info pull-left">
						Mostrando
						<b>
							{{(plantaciones.getItemNumberPerPage * plantaciones.getCurrentPageNumber) - (plantaciones.getItemNumberPerPage -1) }}
							-
							{{plantaciones.getItemNumberPerPage * plantaciones.getCurrentPageNumber }}</b>
						de
						<b>
							{{ plantaciones.getTotalItemCount }}
						</b>
					</div>
					<ul class="pagination pull-right">
						{{ knp_pagination_render(plantaciones) }}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/plantaciones.js') }}"></script>
{% endblock %}
